extends layout  
block content
    .bg-img
        .zawashHome
            #top_zabu  ZaWash
            #topWordz
                | Zaabu Washing Bay is found along
                | Mawanda Road, Kampala.
                | We employ youth in the areas of
                | Kalerwe, Katanga among others
        .contact-form
            img.avatar(alt='' src='images/zawash.png')
            h2 Account Login
            form(action='/' method='POST')
                input.formInput(placeholder='Enter Email' type='email' name='Email')
                input.formInput(placeholder='Enter Password' type='password' name='Password')
                button.submit  SUBMIT
                p.remember
                    input(type='checkbox')
                    | Remember Me

