doctype html
html(lang='en')
head
  link(rel="stylesheet",href="/style.css",type= "text/css")
  title zawash car manager
  
body
  header
    nav.topnav
      ul.menu-bar
        li
          a.toplink(href='/') Home
        li
          a.toplink(href='/packages') Packages
        li
          a.toplink(href='/register') Register
        li
          a.toplink(href='/expenseTracking') Expenses
        li
          a.toplink(href='/cartracking') Track
  block content
    br
    br
    footer
    p.bottomlink Copyright &copy; Wamanga Peter 2021

    


