doctype html
html(lang='en')
head
  link(rel="stylesheet",href="/style.css",type= "text/css")
  title zawash car manager
  
body
  header
    img#imagenav(src='images/zawash.svg' alt='Image loading')
    nav#top
      ul
        li
          a(href='') Services
        li
          a(href='') About
        li
          a(href='') Services
    a(href='')
      button#top_button Contact
  block content
    br
    br
    footer
    p Copyright &copy; Wamanga Peter 2021

    


