doctype html
html(lang='en')
head
  link(rel="stylesheet",href="/style.css",type= "text/css")
  title zawash car manager
  
body
  br
  if alert == "success"
    div.alert.alert-sucesss Washer added successfuly
  if alert=="error"
    div.alert.alert-dager An arror has occured, failed to add washer
  block content
    br
    br
    footer
      .footerthing
        p
          a(href='#') Registrations |
        p
          a(href='#') Reports
      .copyright
      p &copy;2021 Wamanaga Peter



