extends layoutGen  
block content
    #main.container
        .row
            form#regform.col-lg-6.col-md-7.col-sm-12.form.mx-auto(name='form' action='/washerregistration' method='POST' onsubmit="return validatewasher();")
                h3#mega Register Washer
                h5#mini Fill the form below to register new Washer
                .form-field
                        input#fullName.form-control(name='fullname' type='text' placeholder=' Full Name')
                        small#fullNameError.error
                .form-row
                    .col-md-6.col-sm-12
                        input#dob.form-control(name='dateofbirth' max="2003-12-01" type='text' placeholder='Date of Birth' onfocus="(this.type='date')")
                        small#dobError.error
                    .col-md-6.col-sm-12
                        input#address.form-control( name='address' type='text' placeholder='Address')
                        small#addressError.error
                .form-field
                        input#zawashId.form-control(name='zawashid' type='text' placeholder='Zawash ID')
                        small#zawashIdError.error
                .form-row
                    .col-md-6.col-sm-12
                        select#gender.custom-select(name='gender')
                            option(value='') Choose Gender
                            option(value='M') M
                            option(value='F') F
                        small#genderError.error
                    .col-md-6.col-sm-12
                        input#tel.form-control( name='tel' type='text' placeholder='Tel No.')
                        small#telError.error
                .form-field
                        input#nationalId.form-control( name='nationalid' type='text' placeholder='National ID/Passprt No.')
                        small#nationalIdError.error
                .form-field
                button#submit.btn.btn-warning.btn-block(type='submit' ) Submit
    script(src='/validateWasher.js')
