extends layout  
block content  
  form(action='/home' method='POST')
    #container(name='divcont')
      h2 Sign Up
      h5 Please fill in this form to create an account
      // This is the div that will contain the actual input fields
      #formcontent(name='formcontent')
        #namepart
          input.textarea(type='text' placeholder='First Name')
          input.textarea(type='text' placeholder='First Name')
        // This next div is for the email part and the address inputs
        .email
          input#email.textarea(type='text' placeholder='Email')
          input#address.textarea(type='text' placeholder='Address')
        // This next div is for the dob and the gender
        #dobgender
          div
            input.textarea(type='date' placeholder='Date of birth')
          // This is a drop down menu for the gender
          div
            select#gender.textarea(name='gender')
              option.textarea1(label='Female' value='Female') Female
              option.textarea1(label='Male' value='Male') Male
        // This is fo the contact and id/NIN
        #contactname
          input#contact.textarea(type='text' placeholder='contact')
          input#nin.textarea(type='text' placeholder='ID/NIN Number')
        // The user has to input a password and then confirm it
        #password
          input#pass1.textarea(type='text' placeholder='Password')
          input#pass1test.textarea(type='text' placeholder='Confirm Password')
        button#butkati Register Now
