extends layout  
block content
  section.contains_everything
    .sectiontitle
      p.nospace.font-xs
      h2 Wash Packages
      p
      p.heading.underline.font-x2
        | We provide On-Demand Car Wash,
        | gentle car washes,Gentle Care Car Wash,the Shine Experience,
        | Car Wash and Detailing,Exclusive Hand Wash,The Vehicle Bath,Sparkle, Sparkle,
        | Splash and Rinse for the following:
    ul.nospace.group.team
      li.one_quarter.first
        figure
          a.imgover(href='#')
            img(alt='' src='images/small_car.jpg')
          figcaption
            strong SMALL CAR
            em UGX.10,000
      li.one_quarter
        figure
          a.imgover(href='#')
            img(src='images/medium.jpg' alt='')
          figcaption
            strong MEDIUM SIZE
            em UGX.15,000
      li.one_quarter
        figure
          a.imgover(href='#')
            img(alt='' src='images/full_wash.jpg')
          figcaption
            strong FULL WASH
            em UGX.20,000
      li.one_quarter
        figure
          a.imgover(href='#')
            img(alt=' ' src='images/bike.jpg')
          figcaption
            strong BODA BODA
            em UGX.5,000
      li.one_quarter
        figure
          a.imgover(href='#')
            img(src='images/engine2.jpg' alt='')
          figcaption
            strong ENGINE
            em UGX.10,000
