body {
    font-family: 'Roboto', sans-serif;
}

strong {
    /* margin: 0 auto; */
    font-size: 20px;
    /* margin-left: 50%; */
    margin-right: 70%;
    margin-bottom: 5%;
}

.col-lg-6.col-md-7.col-sm-12.form.mx-auto {
    margin-right: 70%;
    margin-left: 50%;
}


/* Assign grid instructions to our parent grid container */

.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    height: 200%;
    font-family: 'Roboto', sans-serif;
}

#reportitem,
.sidenav a {
    display: block;
    /* padding: 0 20px; */
    color: rgb(29, 28, 28);
    font-size: 18px;
    line-height: 15px;
    text-decoration: none;
}

.sidenav__list :hover {
    color: #f0ad4e;
    text-decoration: none;
}

#reportitem :hover {
    color: none;
    text-decoration: none;
}

.sidenav {
    grid-area: sidenav;
    background-color: #85DCBA;
    height: 100vh;
    margin-right: 8%;
    color: black;
}

.main {
    grid-area: main;
    background-color: #fcfcfc;
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    margin-right: 3%;
}


/* ///////////////////////////////////////
  This is for the logo */


/* .logo {
    display: block;
    padding: 0 30px;
    float: left;
    position: absolute;
    margin-top:5px;
    z-index:2;
    margin-right:10px;
  } */

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.main-cards {
    column-count: 2;
    column-gap: 20px;
    margin: 20px;
}

.sidenav {
    display: flex;
    /* Will be hidden on mobile */
    flex-direction: column;
    grid-area: sidenav;
}

.sidenav__list {
    padding: 0;
    margin-top: 70px;
    list-style-type: none;
}

.sidenav__list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
}

.sidenav__list-item:hover {
    background-color: white;
    cursor: pointer;
    color: #f0ad4e;
}

.report {
    margin-left: 10%;
    color: black;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    /* Force our height since we don't have actual content yet */
    background-color: #e3e4e6;
    color: slategray;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////  */


/* for the t.able */

.main td,
.main th {
    border: 1px solid #ddd;
    padding: 8px;
}

.main tr:nth-child(even) {
    background-color: #f2f2f2;
}

.main tr:hover {
    background-color: #ddd;
}

.main th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #85DCBA;
    color: white;
}


/* button */

button.btn.btn-block {
    margin-top: 5%;
    background-color: #F0AD32;
    border-color: none;
    color: white;
    /* font-size: 20px; */
}


/* ///////////////////////////////////////////////////////////////// */

.footerthing {
    float:left;
    margin-left: 180%;
    display: inline-flex;
    column-gap: 20px;
}

.wampet {
    color: red;
    display: inline-flex;
    float:left;
  
}