body{
    background-color: #85DCBA;
    font-family: 'Roboto', sans-serif;
}
.custom-select, .form-control {
   box-shadow: inset 0 1px 1px 0 rgb(0 0 0 / 4%) !important;
   background-color: #FAFBFC;
}

.section {
   padding: 50px 0;
   background: rgba(0, 0, 0, 0.644);
   width: auto;
   height: auto;
}

small {
   color: #ff0000;
   font-size: 10px;
   
}

input,
select {
   padding: 5px 5px 10px 5px;
   border: 1px solid lightgrey;
   border-radius: 15px !important;
   margin: 10px 0px 5px 0px;
   width: 200px;
   box-sizing: border-box;
   color: #2C3E50;
   font-size: 14px;
   letter-spacing: 1px
}

input:focus,
select:focus {
   -moz-box-shadow: none !important;
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
   border: 1px solid #3330fe;
   outline-width: 0
}




#mega{
text-align: center;
color:whitezz;
font-weight: 500;
font-size: 30px;
margin-bottom: 1.0%;
font-family: 'Roboto', sans-serif;
}
#mini{
text-align: center;
color:whitezz;
font-weight: 300;
font-size: 20px;
margin-bottom: 1.0%;
font-family: 'Roboto', sans-serif;

}
#main {
 
  padding: 30px 0 20px 0;
  
}
label {
   display: none;
}

.form {
   box-shadow: 0 3px 10px 0 rgb(0 0 0 / 6%), 0 1px 2px 0 rgb(0 0 0 / 4%);
   background-color: white;
   padding: 20px 25px;
   border-radius:15px;
}

input, optgroup, select, textarea {
  font-size:15px !important;
}

button.btn.btn-block {
   margin-top: 5%;
   /* background-color:  #cc0000; */
   border-color: none;
   color: white; 


}

@media(max-width:500px) {
   .row {
       margin-left: 10px;
       margin-right: 10px ;
   }

   h1 {
       font-size: 25px;
   }
}


/* ////////////////////////////////////////// */
/* submit button */
/* .btn.btn-success.btn-block{
  background-color: #cc0000 ;
  border-color: none;
}

/* .btn.btn-success.btn-block:focus{
  background-color: #cc0000 ;
  border-color: none;
} */ */

.btn:focus {
  outline: none;
}
input[type=button]:focus,input[type=submit]:focus{
  outline:0px;
}


btn.btn-success.btn-block:focus {
filter:chroma(color=#000000);
border:none;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* this is for the header part */
/* header{
   display: flex;
   flex-direction: row;
   justify-content:flex-end;
   align-items: center;
   padding: 2px 5%;
   top:0 ;
   margin-bottom: 30px;
  
 }

 .bg-img{

   background: url('images/bg.jpg');
   position: fixed;
   min-width: 100%;
   min-height: 100%;
   height: 100vh;
   top: 0;
   left: 0;
   background-size: cover;
   background-position: center;
   z-index: -1
   
 }
 .topnav{
   margin: 0 auto;
   overflow: hidden;
 }
 .menu-bar {
   border-radius: 25px;
   height: fit-content;
   display: inline-flex;
   background-color: rgba(255, 253, 253, 0.4);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   align-items: center;
   padding: 0 10px;
   margin: 10px 0 0 0;
  
 }
 .menu-bar li {
   list-style: none;
   color: rgba(52,152,219);
   font-family: sans-serif;
   font-weight: bold;
   padding: 12px 16px;
   margin: 0 8px;
   position: relative;
   cursor: pointer;
   white-space: nowrap;
 }
 .menu-bar li::before {
   content: " ";
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: -1;
   transition: 0.2s;
   border-radius: 25px;
 }
 .toplink,.toplink:hover,.toplink:active,.toplink:visited{
   color: inherit;  
   text-decoration: none;
 }
 
 .menu-bar li:hover {
   color: white;
 }
 .menu-bar li:hover::before {
   background: linear-gradient(to bottom, #3498DB,#3498DB);
   box-shadow: 0px 2px 10px 0px black;
   transform: scale(0.8);
 } */


/* //////////////////////////////////////////////////////////////////////////////
new header */


a { color: #FFF; 

}

a:active {
  color: blue;
  text-decoration: none;
}
#container {
  margin: 0 auto;
  max-width: 890px;
}

p { text-align: center; }
 .toggle, [id^=drop] {
 display: none;
}

nav {
  margin: 0;
  padding: 0 65px 0 0;
  background-color:white;
  margin-bottom: 5%;
  /* font-size: px; */
  color: darkslategrey;
}

#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 60px;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  /* float: left; */
  background-color:white; 
  
  

}

nav a {
  display: block;
  padding: 0 20px;
  color: rgb(29, 28, 28);
  font-size: 18px;
  line-height: 60px;
  text-decoration: none;
}

nav ul li ul li:hover {
  color: #cc0000;
  text-decoration: none;
  font-size: 30px;
  
  /* border-bottom: 2px solid #cc0000; */
 }

nav a:hover {color: #cc0000; 
  text-decoration: none;
  /* border-bottom: 3px solid #cc0000; */
}

nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}

nav ul li:hover > ul { display: inherit; }

nav ul ul li {
  width: 230px;
  float: none;
  display: list-item;
  position: relative;
  z-index: 2;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

li > a:after { content: ' +'; }

li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

#logo {
  display: block;
  padding: 0;
  width: 100%;
  text-align: center;
  float: none;
}

nav { margin: 0; }

.toggle + a,
 .menu { display: none; }

/* .toggle {
  display: block;
  background-color: #254441;
  padding: 0 20px;
  color: #FFF;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  border: none;
} */

.toggle:hover { background-color: #000000; }

[id^=drop]:checked + ul { display: block; }

nav ul li {
  display: block;
  width: 100%;
}

nav ul ul .toggle,
 nav ul ul a { padding: 0 10px; }

nav ul ul ul a { padding: 0 50px; }

nav a:hover,
 nav ul ul ul a { background-color: #000000; }

nav ul li ul li .toggle,
 nav ul ul a { background-color: #212121; }

nav ul ul {
  float: none;
  position: static;
  color: #ffffff;
}

nav ul ul li:hover > ul,
nav ul li:hover > ul { display: none; }

nav ul ul li {
  display: block;
  width: 100%;
}

nav ul ul ul li { position: static;

}
}

@media all and (max-width : 330px) {

nav ul li {
  display: block;
  width: 94%;
}

}


/* ***************************************************************************************************** */
/* This is for the wash packages page */
/* html{overflow-y:scroll; overflow-x:hidden;} */
/* to center everthing */
.contains_everything{
margin: 10px auto;
margin-top: 1%;

}
img{
width:auto;
max-width:100%; 
height:auto; 
margin:0; padding:0; 
border-radius: 15px 0 0 0;
border:none; 
line-height:normal; 
vertical-align:middle;
}

.imgover{
  display:inline-block; 
  position:relative; 
  max-width:100%;
}

.imgover::before, .imgover::after{
display:block; 
position:absolute; 
content:""; 
text-align:center;
  opacity:0;
  }

.imgover::before{
  top:0; right:0; 
  bottom:0; 
  left:0;}

.imgover:hover::before, .imgover:hover::after{opacity:1;}
/* inside it */

.one_quarter{
  display:inline-block;
  margin:0 0 0 3.21052%; 
  list-style:none;
}

.first{margin-left:0; clear:left;}

.one_quarter{width:17%;}
.sectiontitle h2 {
  display:block;
  max-width:55%; 
  margin:30px auto 5px; 
  text-align:center;
  /* color: #ffc665; */
  color: #231F20;
  font-size: 40px;

}
.sectiontitle p {
  display:block;
  max-width:55%; 
  margin:0 auto 40px; 
  text-align:center;
  color:#85DCBA;
  font-size: 20px;
  background-color:  #231F20;
  padding: 0.5%;
  border-radius: 5px;

}


/* .sectiontitle *{margin:0;} */
/* packages we have at sawash */
.team li:last-child{
  margin-bottom:0;}/* Used when elements stack in small viewports */
.team figure{
    display:block; 
    text-align:center;
}

/* .team figure *{margin:0; padding:0;} */
.team figure figcaption{
    padding:10px 5px;
    line-height:1;
  }
.team figure strong{
    display:block;
    margin-bottom:0.2%;
    font-size:25px;
    font-weight:400;
    color: #231F20;
    }
.team figure em{
  display:block;
   font-style:normal;
    font-size:18px;
    color:#231F20;
  
  }

  .nospace.group.team figure em:hover::after,.nospace.group.team figure strong:hover::after{
    color: white;
  }


.imgover:hover::before{background-color:rgba(255,198,101,.5);}
.imgover, .imgover:hover::after{color:white;}


.nospace.group.team figure, .latest article{box-shadow:0px 0px 15px rgba(0,0,0,.1);}
.nospace.group.team figure:hover{color:white; background-color:#ffc665}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

 /* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
 /* This is for the footer */
 footer{
  display: inline-flex;
  column-gap: 20px;
  
  /* width: 100%; */
  /* margin-top: 0.5%; */
  /* margin: 0 auto; */
  position: absolute;
  margin-left: 500px;
  /* margin: 0 auto;
   */
 
  text-align: center;
}
.footerthing{
  display: inline-flex;
}
.wampet{
  color: white;
}